<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Sound</title>
    <link rel="icon" type="image/x-icon" href="<%= context.publicPath %>favicon.jpeg" />
</head>

<body>
    <div id="root"></div>
</body>

</html>